#hero {
    width: calc(var(--width) - 20%);
    margin: auto 15em;
  }
  
.img-container {
    width: 800px;
    height: 380px;
  }

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

.directory {
    font-weight: 200;
    font-size: 14px;
    padding: 10px 0;
    font-style: italic;
  }