.product-img-holder {
    height: 200px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(237, 173, 101);
  }
  
.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
.product-img:hover {
    border-bottom: 2px solid #ed6965;
  }
  
.product-detail-container {
    line-height: 0.2rem;
  }
  