:root {
  --line-height: 1.5;
  --width: 100%;
}

.body {
  background-color: #ffdbac;
  height: 2.5em;
  color: #555;
  font: normal 16px Roboto, Helvetica, Open Sans, sans-serif;
  line-height: 1.5em;
}

.container {
  width: calc(var(--width) - 30%);
  margin: auto;
  text-align: center;
}


